{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}

    {% if edit %}
    <h1>Editing {{ entryTitle }}</h1>
    {% else %}
    <h1>New entry</h1>
    {% endif %}

    {% if existing %}
    <div class="alert alert-danger" role="alert">
        This entry already exists. If you want to view or edit it, <a href="/wiki/{{ entry }}" class="alert-link">click here</a>.
    </div>
    {% endif %}

    <div class="form-group">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = submit>
        </form>
    </div>

{% endblock %}